.questionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .newQuestionButton {
    width: 100px;
    padding: 10px 5px;
    margin: 10px;
    border: none;
    background-color: #5d83a4;
    color: white;
    cursor: pointer;
    &:disabled {
      background-color: #bbd1e5;
    }
  }
}